.van_tab{
    color: #999999 !important;
}
.van-tabs__line{
    background: #333333;
    width: 50px !important;
}
.van-tab__text{
    font-size: 0.24rem;
    color: #999999;
}
.van-search{
    padding: 0 !important;
    background: #ffffff !important;
}
.van-tab--active .van-tab__text{
    color: #333333;
    font-weight: bold;

}


.van-field__label{
    color:#1d1d1d !important;
    width: 50px !important;
   
}
.van-cell{
    padding: 2px 0;
    margin-bottom: 0.4rem;
}
.van-field__value{
    padding-left: 0.1rem;
}
.van-field__button{
    padding-bottom: 0.1rem;
}

.van-dialog__confirm, .van-dialog__confirm:active{
    color: #ff2145 !important;
}
